body {
    font-family: 'Roboto', sans-serif;
    background-color : #f7f7f7;
    
}

p {
    padding : 10px ;
}

div {
    text-align : center ;
    padding : 15px;
    background-color : black;
    display : absolute;
    width : 750px;
    margin : auto;
}

#clique {
    color : white;
    font-size : 9px;
}

span {
    font-weight: bolder;
}

#laussi {
    color : brown ;
}

h1 {
    padding : 12px ;
}

li {
    padding-block: 5px;
}

.numero {

}


