body {
    font-family: 'Roboto', sans-serif;
}

p {
    padding : 10px ;
}

div {
    text-align : center ;
    padding : 5px;
    background-color : black;
    margin-left : 200px ;
    margin-right : 200px ;
}

#clique {
    color : white;
    font-size : 9px;
}

span {
    font-weight: bolder;
}

#laussi {
    color : brown ;
}

h1 {
    padding : 10px ;
}
