h1, p, thead {
    text-align : center;
    font-family: 'Roboto', sans-serif ;
}

table {
    border-collapse : collapse;
    font-family: 'Roboto', sans-serif ;
    font-weight : 300 ; 
    width: 75% ;
    margin: auto ;
}

thead {
    background-color: #F4F4F4;
}

#gris {
    background-color:#E5E5E5; 
}

th {
    text-transform: uppercase;
    border : 1px solid #b8b8b89c ;
    font-size : .9rem;
    padding : 1%;
    font-weight : 300 ; 
}

td {
    border : 1px solid #b8b8b89c ;
    font-size : .8rem;
    padding : 1%;
}
